{% extends "base.html.twig" %}

{% block title %}Registration{% endblock %}
{% block head %}
{{ parent() }}
<style type="text/css">
    .important { color: #336699; }
    .div_control{
        padding: 10px;
        margin: 10px;
    }
</style>
{% endblock %}
{% block body %}
<br/>
<br/>
<br/>
<p class="important">
    Please fill in your details.
</p>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
