{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
<style type="text/css">
    .important { color: #336699; }
    .div_control{
        padding: 10px;
        margin: 10px;
    }
</style>
{% endblock %}
{% block body %}
    
<p class="important">
    Add new employer here by filling the fields.
</p>
<br/>
<br/>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
