# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     database
    database_port:     ~
    database_name:     api_platform
    database_user:     api_platform
    database_password: api_platform
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    cors_allow_origin: http://localhost
    facebook_client_id: 354250021713951
    facebook_secret: c9a0b88ec1b4e7ca9f756a8835db42f5
    facebook_graph_version: v2.11
    facebook_redirect_url: http://localhost:8000/user/facebook/redirect
    googleplus_client_id: 163768292944-qdje480orehaokbi37mf7hddks2fs3e0.apps.googleusercontent.com
    googleplus_secret: Fg9QfqeZrT-kS-d0kWoBn4Kv
    googleplus_application_name: fillYourShift
    googleplus_redirect_url: http://localhost:8000/user/google/redirect
    shift.pay_leadtime: 5