{% extends "base.html.twig" %}

{% block body %}
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">Create new shift</div>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                 <div>
                    <input type="submit" value="Save" />
                </div>
                {{ form_end(form) }}
            </div>
        </div>
         
    </body>
{% endblock %}
