{% extends "@root/base.html.twig" %}
{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div id="wizard_profile" class="form_wizard wizard_horizontal">
                <ul class="list-unstyled wizard_steps anchor">
                    <li>
                        <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              CREATE<br />
                                              <small>Edit & Save</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              PUBLISH<br />
                                              <small>Modify & Publish</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                              APPROVE<br />
                                              <small>Review & Approve</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-4">
                            <span class="step_no">4</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-5">
                            <span class="step_no">5</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-6">
                            <span class="step_no">6</span>
                        </a>
                    </li>
                </ul>
                <div id="stepContainer">
                    <div id="step-1">             
                        {% include "@shift/createShift.html_1.twig" %}
                    </div>
                    <div id="step-2">
                        {% include "@shift/viewShift.html_1.twig" %}
                    </div>
                    <div id="step-3">
                        {% include "@shift/subscription.html.twig" %}
                    </div>
                    <div id="step-4">
                        {% include "@user/approvedProfile.html.twig" %}
                    </div>
                    <div id="step-5">
                        {% include "@shift/reviewAndPay.html.twig" %}
                    </div>
                    <div id="step-6">
                        {% include "@shift/seeReviewAndArchive.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
    <!-- jQuery Smart Wizard -->
    <script src="{{ asset('assets/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock %}
