{% extends "base.html.twig" %}

{% block body %}
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li><a href="{{ url('createShift')}}">Create Shift</a></li>
                    <li><a href="{{ url('employerListShifts')}}">Open shift</a></li> 
                    <li><a>Manage Profile</a></li>
                    <li><a>Invoices</a></li>
                </ul>
            </div>
        </div>
    </body>
{% endblock %}
