{% extends "@root/base.html.twig" %}
{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div id="wizard_verticle" class="form_wizard wizard_verticle">
                <ul class="list-unstyled wizard_steps anchor">
                    <li>
                        <a href="#step-1">
                            <span class="step_no">C</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">
                            <span class="step_no">2</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3">
                            <span class="step_no">3</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-4">
                            <span class="step_no">4</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-5">
                            <span class="step_no">5</span>
                        </a>
                    </li>
                </ul>
                <div id="stepContainer">
                    <div id="step-1">
                        {% include "@user/personal.html.twig" %}
                    </div>
                    <div id="step-2">
                        {% include "@user/address.html.twig" %}
                    </div>
                    <div id="step-3">
                        {% include "@user/moreInfo.html.twig" %}
                    </div>
                    <div id="step-4">
                        {% include "@user/resume.html.twig" %}
                    </div>
                    <div id="step-5">
                        {% include "@user/resume.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
    <!-- jQuery Smart Wizard -->
    <script src="{{ asset('assets/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock %}
