{% extends "@root/base.html.twig" %}

{% block title %}Staff your shifts on demand{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block home_body %}
    <body data-spy="scroll" data-target="#navigation" data-offset="120">
    <!-- *** NAVBAR ***
    _________________________________________________________ -->

    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand scrollTo" href="#intro">Fill your shift</a>
            </div>

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#intro">Intro</a>
                    </li>
                    <li><a href="#section1">What we do??</a>
                    </li>
                    <li><a href="#section3">Testimonials</a>
                    </li>
                    {% if app.user.userType is defined %}
                        <li>
                            <a href="/dashboard" style="color: green; font-size: larger;"> {{ app.user.username }}'s &nbsp Shifts</a>
                            {#<div class="dropdown">
                                <!-- Link or button to toggle dropdown -->
                                <ul class="dropdown-menu">
                                <li><a href="/dashboard">Dashboard</a></li>
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Manage Work</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                                </ul>
                            </div>#}
                        </li>
                        
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                     {% else %}
                         <li>
                             <a href="/user/login/social" style="color: green; font-size: larger;"> Login</a>
                         </li>
                        <li>
                            <a href="/user/register" style="color: green; font-size: larger;"> Register</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->


    <div id="all">


        <!-- *** INTRO IMAGE ***
    _________________________________________________________ -->
        <div id="intro" class="clearfix">
            <div class="item">
                <div class="container">
                    <div class="row" style="color: black;">

                        <h1 class='display-2' data-animate="fadeInDown">We make 'On Demand' work possible</h1>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div>
                        <p class='h3' data-animate="fadeInUp">Ever wanted to increase staff support for seasonal spike in operations?</p>
                        <p class='h3' data-animate="fadeInUp">Ever needed rapid backfill for your employee who is down sick for few days?</p>
                        <p class='h3' data-animate="fadeInUp">Ever wanted to make an extra income by working few days a month and get some interesting experience?</p>
                        <br>
                        <br>
                        <br>
                        <p class='h3' data-animate="fadeInUp">Then you have found your place..</p> 
                        <br>
                        </div>

                        <div class="col-md-6 col-md-offset-3" data-animate="fadeInUp">
                            <a class="btn btn-default" href="#section1">Read More</a>
                            {#<a class="btn btn-default" id="frm-landingPage1-submit" href="/user/register">Sign Up</a>#}
                            {#<a class="btn btn-default" id="frm-landingPage1-submit" href="/user/login">Login</a>#}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- *** INTRO IMAGE END *** -->


        <!-- *** SERVICES ***
    _________________________________________________________ -->
        <div class="section" id="section1">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="title" data-animate="fadeInDown">What we do?</h2>

                    <p class="lead">Are you working in any of the below industries </p>

                    <div class="row services">

                        <div class="col-md-4" data-animate="fadeInUp">
                            <div class="icon"><i class="fa fa-home"></i>
                            </div>
                            <h3 class="heading">Restaurants</h3>
                            <p>We bring together waiters, cooking assistants, delivery staff with restuarant owners. Restaurants put in demand and spirited part timers apply in no time </p>
                        </div>

                        <div class="col-md-4" data-animate="fadeInUp">
                            <div class="icon"><i class="fa fa-shopping-cart"></i>
                            </div>
                            <h3 class="heading">WareHouses</h3>
                            <p>Warehouse operations need lifters, movers, inventory takers and they are in need around the clock</p>
                        </div>

                        <div class="col-md-4" data-animate="fadeInUp">
                            <div class="icon"><i class="fa fa-euro"></i>
                            </div>
                            <h3 class="heading">Retail</h3>
                            <p>Small scale shops, large retail chains need shopping assistants, sales assistants, till operators</p>
                        </div>

                    </div>
                    <div class="row services" align='center'>

                        <div class="col-md-4" data-animate="fadeInUp">
                            <div class="icon"><i class="fa fa-icon-glass" ></i>
                            </div>
                            <h3 class="heading">Charities</h3>
                            <p>Charities are in look for willing volunteers and support staff for weekend fund raising, inventory, staffing shops for small fee</p>
                        </div>

                        <div class="col-md-4" data-animate="fadeInUp">
                            <div class="icon"><i class="fa fa-desktop"></i>
                            </div>
                            <h3 class="heading">Construction</h3>
                            <p>Construction workplace is tough and demanding but room for part timers is demanding</p>
                        </div>

                        

                    </div>

                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** SERVICES END *** -->

        <!-- *** TESTIMONIALS ***
    _________________________________________________________ -->

        <div class="section text-gray" id="section3" data-animate="fadeInUp">

            <div class="container">
                <div class="col-md-12">

                    <div class="mb20">
                        <h2 class="title" data-animate="fadeInUp">Customers said about us</h2>

                        <p class="lead text-center" data-animate="fadeInUp">Here are some of our happy customers</p>
                    </div>

                    <ul class="owl-carousel testimonials same-height-row" data-animate="fadeInUp">
                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>I work evenings for some extra income to support my studies, its so much easier to find the work I like with fillyourshift not with big fast food chains but also with smaller restaurants</p>
                                </div>
                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="img/person-1.jpg">
                                        <h5>David Merrier</h5>
                                        <p>Student, UCL</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>I work fulltime at a neighbourhood toy shop, but I didnt mind working for charity for a small fee and experience. My weekends are more meaningful helping a cause I support</p>
                                </div>
                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="img/person-2.jpg">
                                        <h5>Jonathan Black</h5>
                                        <p>Shopping Assistant, Boutique Shop in London</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>I mix my days with fillyourshift assignments simply because its much more payimng compared to regular staffing job at nearby warehouse. I get to know more opportunities and have the satisfaction to helping in time of need</p>

                                    <p>And my current employer doesnt mind, they run out of work every now and then, so good to have some venues I can find work..</p>
                                </div>
                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="img/person-3.jpg">
                                        <h5>Cathy Charman</h5>
                                        <p>Warehouse sorting staff, Birmingham</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>Its so much easier to know whether you won the work or not so quickly. fillyourshift always let you know when the job gets assigned to you or if someonelese picked for task. I get to chase my next assignment as soon as I know it wont come in. Not to say the flexibility of working in different establishments</p>
                                </div>

                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="img/person-4.jpg">
                                        <h5>Ivan Smith</h5>
                                        <p>Plumber, Painter - Construction worker, based in Glasgow</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a
                                        heavy fur muff that covered the whole of her lower arm towards the viewer.
                                        Gregor
                                        then turned to look out the window at the dull weather. Drops of rain could be
                                        heard
                                        hitting the pane, which made him feel quite sad. Gregor then turned to look out
                                        the
                                        window at the dull weather. Drops of rain could be heard hitting the pane, which
                                        made him feel quite sad.</p>
                                </div>

                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="img/person-4.jpg">
                                        <h5>John McIntyre</h5>
                                        <p>CEO, TransTech</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul> <!-- /.owl-carousel -->
                </div> <!-- /.12 -->
            </div> <!-- /.container -->

        </div><!-- /.section -->

        <!-- *** TESTIMONIALS END *** -->

        <!-- *** FOOTER ***
    _________________________________________________________ -->

        <div class="section" id="footer">
            <div class="container">

                <div class="row">

                    <div class="col-sm-6">

                        <p class="social">
                            <a href="#" class="external facebook" data-animate-hover="shake" data-animate="fadeInUp"><i
                                        class="fa fa-facebook"></i></a>
                            <a href="#" class="external instagram" data-animate-hover="shake" data-animate="fadeInUp"><i
                                        class="fa fa-instagram"></i></a>
                            <a href="#" class="external twitter" data-animate-hover="shake" data-animate="fadeInUp"><i
                                        class="fa fa-twitter"></i></a>
                            <a href="mailto:#" class="email" data-animate-hover="shake" data-animate="fadeInUp"><i
                                        class="fa fa-envelope"></i></a>
                        </p>
                    </div>
                    <!-- /.6 -->

                    <div class="col-sm-6">
                        <p>&copy; 2017 Fill your shift.
                            <!-- Do not remove the attribution, thx! If you need to do so, pls donate (http://bootstrapious.com/donate) to support us! -->
                            Template by <a href="https://www.bootstrapious.com/landing-pages"
                                           class="external">Bootstrapious</a>.</p>
                    </div>

                </div>

            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** FOOTER END *** -->
    </div>

    <!-- js base -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


    <!-- waypoints for scroll spy -->
    <script src="js/waypoints.min.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- jQuery scroll to -->
    <script src="js/jquery.scrollTo.min.js"></script>

    <!-- main js file -->

    <script src="js/front.js"></script>


    </body>

{% endblock %}
