
{% block body %}
    <h2 class="StepTitle">Step 3: More.. </h2>
    <form class="form-horizontal form-label-left" id="more_info">
        <span class="section">More about yourself</span>
        <div class="form-group">
            <label for="middle-name" class="control-label col-md-3 col-sm-3">Describe yourself</label>
            <div class="col-md-6 col-sm-6">
                <textarea style="height: 103px; width: 405px;"id="resume_desc" name="resume_desc" class="form-control" rows="3" placeholder="About yourself in few lines">Please add your review</textarea>
                <p>
                    
                    Tell them about the things you like,
                    Tell them what it’s like to work with <B>{{selectedSubscriber.getFirstName()}}&nbsp{{selectedSubscriber.getLastName()}}</B>
                    
                </p>
            </div>
        </div>
        
    </form>
{% endblock %}