{% block body %}
    <h2 class="StepTitle">Step 4: Resume & Photo </h2>
    <form enctype="multipart/form-data" method="post" class="form-horizontal form-label-left" action="{{ url("ajax_resume") }}" id="resumeForm">

        <span class="section">Upload your resume and a lovely photograph</span>
        <!-- COMPONENT START -->
        <div class="form-group">
            Resume <i class="fa fa-cloud-upload"></i>
            <input type="file" id="resume" name="resume" class="form-control btn-info" placeholder='Choose file..' />
        </div>
        <!-- COMPONENT START -->
        <div class="form-group">
            Photo <i class="fa fa-cloud-upload"></i>
            <input type="file" id="photo" name="photo" class="form-control btn-info" placeholder='Choose file..'/>
        </div>
        <!-- COMPONENT END -->

        <label for="middle-name" class="control-label col-md-3 col-sm-3">Previous Experience</label>
        <div class="form-group">
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp1-role" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp1-role" value="" placeholder="Role Name">
            </div>
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp1-org" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp1-org" value="" placeholder="Organisation">
            </div>
        </div>
        <label for="middle-name" class="control-label col-md-3 col-sm-3"></label>
        <div class="form-group">
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp2-role" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp2-role" value="" placeholder="Role Name">
            </div>
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp2-org" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp2-org" value="" placeholder="Organisation">
            </div>
        </div>
        <label for="middle-name" class="control-label col-md-3 col-sm-3"></label>
        <div class="form-group">
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp3-role" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp3-role" value="" placeholder="Role Name">
            </div>
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp3-org" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp3-org" value="" placeholder="Organisation">
            </div>
        </div>
    </form>
{% endblock %}