{% block body %}
    <h2 class="StepTitle">Step 4: Resume & Photo </h2>
    <form class="form-horizontal form-label-left" enctype="multipart/form-data">

        <span class="section">Upload your resume and a lovely photograph</span>
        <!-- COMPONENT START -->
        <div class="form-group">
            <div class="input-group input-file" id="resume">
			<span class="input-group-btn">
        		<button class="btn btn-default btn-choose" type="button">Resume</button>
    		</span>
                <input type="text" id="resume" class="form-control" placeholder='Choose a file...' />
                <span class="input-group-btn">
       			 <button class="btn btn-warning btn-reset" type="button">Reset</button>
    		</span>
            </div>
        </div>
        <!-- COMPONENT END -->
        <!-- COMPONENT START -->
        <div class="form-group">
            <div class="input-group input-file" id="photo">
			<span class="input-group-btn">
        		<button class="btn btn-default btn-choose" type="button">Profile Picture</button>
    		</span>
                <input type="text" id="photo" class="form-control" placeholder='Choose a file...' />
                <span class="input-group-btn">
       			 <button class="btn btn-warning btn-reset" type="button">Reset</button>
    		</span>
            </div>
        </div>
        <!-- COMPONENT END -->

        <label for="middle-name" class="control-label col-md-3 col-sm-3">Previous Experience</label>
        <div class="form-group">
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp1-role" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp1-role" value="" placeholder="Role Name">
            </div>
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp1-org" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp1-org" value="" placeholder="Organisation">
            </div>
        </div>
        <label for="middle-name" class="control-label col-md-3 col-sm-3"></label>
        <div class="form-group">
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp2-role" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp2-role" value="" placeholder="Role Name">
            </div>
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp2-org" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp2-org" value="" placeholder="Organisation">
            </div>
        </div>
        <label for="middle-name" class="control-label col-md-3 col-sm-3"></label>
        <div class="form-group">
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp3-role" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp3-role" value="" placeholder="Role Name">
            </div>
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp3-org" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp3-org" value="" placeholder="Organisation">
            </div>
        </div>
    </form>
{% endblock %}